html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	width: 100%;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Do not write a css rule above here! Use the space below  */


/* Write your css below here */

:root{
	font-weight: 600px;
	font-size: large;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

header{
	min-height: 100px;
	display: flex;
}

main{
	min-height: calc(100vh - 180px);
}

.lmtechlogo{
	display: flex;
	flex: ;
	align-items:center ;
	height: 70px;
	padding-left: 60px;
	padding-top: 20px;
}

nav{
	font-weight: 600px;
	font-style: ;
	display: flex;
	padding-left: 400px;
	gap: 40px;
	align-items: center;
	flex: 6;
	text-decoration: none;
	
}

nav a {
	color: #030000;
	text-decoration: none;
}

nav :hover{
	color: #e1a54c;
}

.cart{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 80px;
}

.cart img{
	height: 30px;
}

#startl{
	color: white;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 7px;
	margin-left: 50px;
	background-color: #f6b850;
	border-radius: 50px;
	height: 30px;
}

#startl:hover{
	background-color: black;
}

.welcomepage{
	background-color: #1a57a9;
	height: 550px;
	display: flex;
	margin-top: 20px;
}

.sectiontext{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 40px;
	color: white;
	flex: 1;
	padding-left: 200px;
	font-weight: 600;
	line-height: 2;
}

.sectionimage img{
	height: 200px;
}

.sectiontext h1{
	font-size: xx-large;
	line-height: 1;
}

#date{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 100px;
}

.apply{
	display: flex;
	gap: 50px;
}

#our-partners{
	height: 150px;
	background-color: #c1c0c0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.our-partners-images img{
	height: 50px;
}

.view-programs{
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 7px;
	margin-left: 10px;
	background-color: white;
	border-radius: 50px;
	height: 30px;
	color: black;
	text-decoration: none;
}

.apply-now{
	color: white;
}

.sectionimage{
	padding: 60px;
	padding-right: 200px;
	flex: 1;
	border-radius: 50px;
}

#student{
	border-radius: 50px;
	height: 450px;
}

.our-courses-heading{
	font-size: xx-large;
	display: flex;
	background-color: #f0eaea;
	height: 120px;
	align-items: center;
	padding-left: 200px;
}

#our-courses{
	background-color: #f0eaea;
	height: 650px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 1px 150px 10px 200px;
	gap: 15px;
}

#our-courses .course{
	background-color: white;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	width: 270px;
} 

.questions-left img{
	height: 400px;
	border-radius: 20px;
}

#our-courses .course .image{
	flex: 4;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#our-courses .course .image img{
	height: 260px;
	width: 270px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#our-courses .course .course-text{
	display: flex;
	flex-direction: column;
	gap: 40px;
	flex: 7;
	padding-top: 60px;
	align-items: center;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.learn-more{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	border: 2px blue solid;
	color: blue;
	text-decoration: none;
	height: 45px;
	width: 150px;
}

.closing-date{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	background-color:#f0f1f4 ;
}

.questions{
	display: flex;
	height: 600px;
	padding: 70px 200px;
}

.questions-left{
	display: flex;
	flex-direction: column;
	gap: 30px;
	flex: 1;
	padding-top: 50px;
}

.questions-left h1{
	font-weight: bold;
	font-size: xx-large;
}

.questions-left h2{
	color: #c1a455 ;
}

.questions-right{
	display: flex;
	flex-direction: column;
	padding-left: 30px;
	padding-top: 50px;
	flex: 1;
}

.questions-right p{
	color: grey;
	font-weight: bold;
	padding-left: 20px;
	display: flex;
	align-items: center;
	border: grey 1px solid;
	height: 50px;
}

.questions-right p a{
	text-decoration: none;
	color: grey;
}

footer{
	display: flex;
	justify-content: center;
	align-items: center;
background-color: black;
color: white;
height: 80px;
}



	@media screen and (width <= 900px){
		header{
			justify-content: space-between;
		}

		.welcomepage{
			height: 1000px;
		}

		.questions{
			padding: 30px 60px;
		}
	}

	@media screen and (width <= 1000px){
		.welcomepage{
			flex-direction: column;
		}

		#startl{
			color: white;
			margin-left: 1px;
			height: 40px;

	}

	nav{
		flex-direction: column;
		padding-top: 20px;
		padding-left: 30px;
		gap: 15px;
		align-items: center;
		flex: 1;
	}

	.sectiontext{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 40px;
		color: white;
		flex: 1;
		padding-left: 60px;
		padding-right: 30px;
		line-height: 2;
		}

		.sectionimage{
			padding-right: 60px;;
		}



		.sectionimage img{
			height: 100%;
			width: 100%;
		}

		#our-courses{
			height: 1200px;
			grid-template-columns: 1fr 1fr;
			background-color: #f0eaea;
			padding: 1px 50px 10px ;
			gap: 15px;
		}

		.questions{
			flex-direction: column;
			height: 1200px;
		}

	}

	@media screen and (width <= 500px){
		header{
			flex-direction: column;
	}

	nav{
				flex-direction: column;
			}
	
			#our-courses{
				height: 2400px;
				grid-template-columns: 1fr ;
				padding-left: 30px;
				justify-content: center;
			}
	
			.welcomepage{
				height: 1200px;
			}

			.questions{
				padding: 10px 20px;
			}

			.cart{
				justify-content: center;
				align-items: center;
				padding-right: 1px;
			
			}

			.view-programs{
				padding-left: 10px;
				padding-right: 10px;
				width: 200px;
			}

			.our-courses-heading{
				padding-left: 1px;
				justify-content: center;
			
				}
			}

